Projects/MachineACaffe_Front/WCFClient/Service References/PersitanceService/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPersitanceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27339/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27339/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersitanceService_PersistOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PersistOrder" />
  </wsdl:message>
  <wsdl:message name="IPersitanceService_PersistOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersistOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPersitanceService_getBadgeLastSelection_InputMessage">
    <wsdl:part name="parameters" element="tns:getBadgeLastSelection" />
  </wsdl:message>
  <wsdl:message name="IPersitanceService_getBadgeLastSelection_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBadgeLastSelectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersitanceService">
    <wsdl:operation name="PersistOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersitanceService/PersistOrder" message="tns:IPersitanceService_PersistOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersitanceService/PersistOrderResponse" message="tns:IPersitanceService_PersistOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBadgeLastSelection">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersitanceService/getBadgeLastSelection" message="tns:IPersitanceService_getBadgeLastSelection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersitanceService/getBadgeLastSelectionResponse" message="tns:IPersitanceService_getBadgeLastSelection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPersitanceService" type="tns:IPersitanceService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPersitanceService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PersistOrder">
      <soap12:operation soapAction="http://tempuri.org/IPersitanceService/PersistOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBadgeLastSelection">
      <soap12:operation soapAction="http://tempuri.org/IPersitanceService/getBadgeLastSelection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="WSHttpBinding_IPersitanceService" binding="tns:WSHttpBinding_IPersitanceService">
      <soap12:address location="http://localhost:27339/WCFService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:27339/WCFService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>